* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
/* html {
  font-size: 62.5%;
} */
body {
  max-width: 100%;
  font-family: "Roboto", "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
